// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";



body {
  margin: 0;
  font-family: 'Raleway' sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway';
  text-decoration: none;
}


.text-center {
  text-align: center;
}


.padded {
  padding: 100px 0;
}

.padded-slight {
  padding: 10px 0;
}
