.share-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  background-color: #031634;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
