/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings

.body {
  background-color: #E8DDCB;
  padding-bottom: 0;
}

.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

a  {
  color: white !important;
  text-decoration:none !important;
  :hover {
    text-decoration: none !important;
    cursor:pointer;
    opacity: 0.98;
  }
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover !important;
}

.text-center {
  text-align: center;
}



.padded-slight {
  padding: 10px 0;
}
