.banner class="cover"
  .banner-content
    .banner-title
      h1 aron tseggai



.wrapper-skills.padded
  .container
    .row
      .col-sm-6.margin-bottom-xs
        h2 MY SKILLS
        p
          | I am a fullstack web developer
          br/
          | trained by
          a href="https://www.lewagon.com/" target="_blank"  Le Wagon
          |  at the
          a href="http://bssa.nu/" target="_blank"  BSSA
          br/
          | go ahead and check stuff out!
      .col-sm-6
        h4 Ruby
        .progress
          .progress-bar aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" style=("width: 90%")
            span.sr-only
        h4 SQL
        .progress
          .progress-bar aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style=("width: 70%")
            span.sr-only
        h4 HTML5 - CSS3
        .progress
          .progress-bar aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" style=("width: 100%")
            span.sr-only
        h4 Javascript
        .progress
          .progress-bar aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style=("width: 70%")
            span.sr-only



.wrapper-introduction
  .container.valuesbox.padded
    .row
      .col-xs-12.col-sm-4.text-center
        h2
          strong JUNIOR
        h4
          | I have just started on this journey
          br/
          | But I am eager to learn!
      .col-xs-12.col-sm-4.text-center
        h2
          strong FULLSTACK
        h4 I've been taught in Ruby, SQL, HTML, CSS3 and Javascript
      .col-xs-12.col-sm-4.text-center
        h2
          strong DEVELOPER
        h4
          | I make stuff that does things
          br/
          | and it looks good while doing it

.wrapper-projects.text-center
  h1
    strong Projects
